@import 'tailwindcss';

@theme {
  --color-primary: #4caf50; /* #4CAF50 */
  --color-primary-300: #81c784; /* Hover/Interactivos*/
  --color-primary-700: #388e3c; /* Bordes/Detalles*/
  --color-primary-900: #1b5e20; /* Fondos oscuros*/

  --color-dark: #111111; /* Fondo principal */
  --color-dark-200: #424242; /* Bordes secundarios */
  --color-dark-400: #757575; /* Texto secundario*/
  --color-dark-50: #fafafa; /* Texto principal */

  --color-accent: #03dac6; /*Destacar elementos clave*/
}
