---
import Layout from "../layouts/Layout.astro";

import AboutMe from "../components/AboutMe.astro";
import CodeIcon from "../components/icons/Code.astro";
import Hero from "../components/Hero.astro";
import Knowledge from "../components/Knowledge.astro";
import ProfileIcon from "../components/icons/Profile.astro";
import Projects from "../components/Projects.astro";
import SchoolIcon from "../components/icons/School.astro";
import SectionContainer from "../components/SectionContainer.astro";
import TitleSection from "../components/TitleSection.astro";
---

<Layout
  title="Porfolio de Alirio Isea - Desarrollador y Programador Web"
  description="Contrata a Alirio Isea, un desarrollador web full stack en formación. Con experiencia en HTML, CSS, JavaScript y frameworks como React y Astro. ¡Listo para transformar tus ideas en soluciones digitales!"
>
  <main class="text-dark-50 px-8 md:px-0">
    <SectionContainer class="pb-16 py-36 md:pb-36">
      <Hero />
    </SectionContainer>

    <SectionContainer id="proyectos" class="mb-36">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi" class="mb-36">
      <TitleSection>
        <ProfileIcon class="size-7" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="conocimientos" class="pb-24">
      <TitleSection>
        <SchoolIcon class="size-7" />
        Conocimientos
      </TitleSection>
      <Knowledge />
    </SectionContainer>
  </main>
</Layout>
