---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import VeFlag from '../components/icons/VeFlag.astro';
import SocialPill from '../components/icons/SocialPill.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
---

<Layout
  title="Portafolio de Alirio Isea - Desarrollador y Programador Web"
  description="Contrata a Alirio Isea, un desarrollador web full stack en formación. Con experiencia en HTML, CSS, JavaScript y frameworks como React y Astro. ¡Listo para transformar tus ideas en soluciones digitales!"
>
  <main class="text-dark-50">
    <section class="w-full md:w-2xl lg:w-[740px] px-12 md:px-0 mx-auto py-40">
      <h1 class="flex flex-col text-5xl font-bold pb-4">
        <span class="text-primary">Alirio Isea</span>
        <span class="text-3xl font-light text-dark-400">
          Desarrollador Web
        </span>
      </h1>
      <a
        href="https://www.linkedin.com/in/alirioi/"
        target="_blank"
        rel="noopener"
        class="mb-14 inline-block"><Badge>Disponible para trabajar</Badge></a
      >
      <h2 class="text-xl font-light text-pretty">
        <span class="text-accent font-bold"
          >Desarrollador Web Full Stack en formación
        </span> de <span class="font-bold text-primary-300"
          >Mérida, Venezuela</span
        >
        <VeFlag class="size-6 inline-block self-center ml-1" />
        <span class="opacity-85">
          ¡Estoy listo para aportar creatividad y compromiso a nuevos desafíos!
        </span>
      </h2>
      <nav class="flex flex-wrap gap-4 mt-8 text-dark-400">
        <SocialPill href="https://www.linkedin.com/in/alirioi/">
          <LinkedInIcon class="size-5" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://www.github.com/alirioi">
          <GitHubIcon class="size-5" />
          GitHub
        </SocialPill>
        <SocialPill href="#">
          <MailIcon class="size-5" />
          isealirio@gmail.com
        </SocialPill>
      </nav>
    </section>
  </main>
</Layout>
