---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import SectionContainer from '../components/SectionContainer.astro';
import TitleSection from '../components/TitleSection.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout
  title="Porfolio de Alirio Isea - Desarrollador y Programador Web"
  description="Contrata a Alirio Isea, un desarrollador web full stack en formación. Con experiencia en HTML, CSS, JavaScript y frameworks como React y Astro. ¡Listo para transformar tus ideas en soluciones digitales!"
>
  <main class="text-dark-50 px-8 md:px-0">
    <SectionContainer class="py-40 pb-24">
      <Hero />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
