---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import { Image } from 'astro:assets';
import profileImg from '../assets/profile.webp';
import veFlag from '../assets/ve.svg';
---

<Layout>
  <main class="text-dark-50">
    <section class="w-full lg:w-[740px] mx-auto py-40">
      <Image
        src={profileImg}
        alt="Foto de perfil de Alirio"
        class="w-16 mb-4"
      />
      <h1 class="text-5xl font-bold flex gap-x-2 pb-10 text-primary">
        ¡Hola, soy Alirio! 👋
        <a
          href="https://www.linkedin.com/in/alirioi/"
          target="_blank"
          rel="noopener"
          class="flex h-fit my-auto"><Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-xl font-light">
        <span class="text-accent font-bold"
          >Desarrollador Web Full Stack en formación
        </span> de <span class="font-bold text-primary-300"
          >Mérida, Venezuela</span
        >
        <Image
          src={veFlag}
          alt="Bandera de Venezuela"
          class="size-6 inline-block self-center ml-1"
        /><br />
        <span class="opacity-85"
          >Me apasiona transformar ideas en soluciones digitales eficientes. <br
          />
          ¡Estoy listo para aportar creatividad y compromiso a nuevos desafíos!
        </span>
      </h2>
    </section>
  </main>
</Layout>
