---
import { Image } from "astro:assets";
import aboutMeImg from "../assets/images/about-me.webp";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-dark-50 md:flex-row"
>
  <div class="[&>p]:mb-4 text-pretty order-2 md:order-1">
    <p>
      Me llamo Alirio Isea, y mi historia con la programación comenzó a los 11
      años con <strong>Pascal</strong>. Tras explorar la <strong
        >Ingeniería de Sistemas</strong
      >, descubrí mi verdadera vocación en el ecosistema de <span
        class="text-accent font-semibold">JavaScript</span
      > y el desarrollo web.
    </p>

    <p>
      Los últimos dos años los he dedicado a aprender con disciplina, guiado por
      plataformas como <a
        href="https://www.platzi.com"
        class="text-accent font-semibold">Platzi</a
      > y desarrolladores como <a
        href="https://www.midu.dev"
        class="text-accent font-semibold">Midudev</a
      > y <a href="https://www.moure.dev" class="text-accent font-semibold"
        >Mouredev</a
      >, entendiendo que <em
        >la tecnología no solo se estudia, se experimenta</em
      >.
    </p>

    <p>
      Con una <strong>certificación Full Stack</strong> en mi haber, he decidido especializarme
      en el <span class="text-accent font-semibold">Frontend</span>. Mi
      conocimiento del backend me permite colaborar de forma más eficiente en
      equipos técnicos, mientras enfoco mi energía en perfeccionar <span
        class="text-accent font-semibold">React</span
      > y <span class="text-accent font-semibold">Astro</span> para construir soluciones
      escalables y centradas en el usuario.
    </p>
  </div>

  <Image
    src={aboutMeImg}
    alt="Alirio Isea"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-primary-900/40 ring-1 ring-dark-200"
    loading="lazy"
  />
</article>

<style>
  p > strong {
    color: #03dac6;
    font-weight: semibold;
  }

  p > em {
    color: #03dac6;
    font-weight: normal;
    font-style: italic;
  }

  p > a {
    color: #81c784;
    font-weight: semibold;
  }
</style>
