<span
  class="bg-dark inline-flex items-center px-2 py-1 text-[10px] md:text-xs font-semibold rounded-md border border-dark-200"
>
  <span class="mr-1.5 flex h-3 w-3 items-center">
    <span
      class="absolute inline-flex h-2 w-2 animate-ping rounded-full opacity-75 bg-primary-300"
    ></span>
    <span class="relative inline-flex h-2 w-2 rounded-full bg-primary-300"
    ></span>
  </span>
  <slot />
</span>
