---
import LinkButton from "./LinkButton.astro";
---

<div class="w-full flex flex-col items-center gap-y-8">
  <h1 class="text-4xl md:text-5xl text-dark-50 font-bold text-center">
    ¿Tienes algún proyecto en mente?
  </h1>
  <h2 class="text-3xl md:text-4xl text-primary-300 font-medium">
    ¡Trabajemos juntos!
  </h2>
  <LinkButton href="mailto:isealirio@gmail.com">Contactame</LinkButton>
</div>
