---
import { Image } from 'astro:assets';
import profileImg from '../assets/profile.webp';
---

<header
  class="flex justify-between items-center py-5 px-3 md:px-6 w-full max-w-5xl mx-auto"
>
  <div class="flex items-center gap-3">
    <Image src={profileImg} alt="Foto de perfil de Alirio" class="size-10" />
    <p class="flex flex-col">
      <span class="text-primary font-medium text-sm md:text-base">
        Alirio Isea
      </span>
      <span class="text-dark-50 text-xs font-light"> Desarrollador Web </span>
    </p>
  </div>
  <nav class="text-dark-50 flex gap-x-4 md:gap-x-8 text-sm md:text-base">
    <a class="hover:text-primary-300" href="/">Inicio</a>
    <a class="hover:text-primary-300" href="/sobre-mi">Sobre mí</a>
    <a class="hover:text-primary-300" href="/proyectos">Proyectos</a>
    <a class="hover:text-primary-300" href="/contacto">Contacto</a>
  </nav>
</header>
