---
const { href } = Astro.props;
---

<a
  target="_blank"
  rel="noopener noreferrer"
  href={href}
  role="link"
  class="inline-flex bg-primary text-dark-50 border-primary-700 items-center justify-center gap-2 px-3 py-2 text-base border text-md hover:bg-primary-300 group max-w-fit rounded-xl hover:scale-110 transition-all duration-200 ease-in-out"
>
  <slot />
</a>
