---
const { class: className, id, "aria-labelledby": ariaLabelledBy } = Astro.props;
---

<section
  id={id}
  aria-labelledby={ariaLabelledBy}
  class={`${className} scroll-m-20 w-full mx-auto lg:max-w-4xl md:max-w-2xl`}
>
  <slot />
</section>
