---
import { Image } from "astro:assets";

import AstroIcon from "../components/icons/Astro.astro";
import BunIcon from "../components/icons/Bun.astro";
import CSSIcon from "../components/icons/CSS.astro";
import ExpressIcon from "../components/icons/Express.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import GitIcon from "../components/icons/Git.astro";
import HtmlIcon from "../components/icons/HTML.astro";
import JavaScriptIcon from "../components/icons/JavaScript.astro";
import MySQLIcon from "../components/icons/MySQL.astro";
import NodeIcon from "../components/icons/Node.svg";
import NPMIcon from "../components/icons/NPM.astro";
import PostgreSQLIcon from "../components/icons/PostgreSQL.astro";
import ReactIcon from "../components/icons/React.astro";
import TailwindIcon from "../components/icons/Tailwind.astro";
import ViteIcon from "../components/icons/Vite.astro";
import WordPressIcon from "../components/icons/WordPress.astro";
import PostmanIcon from "../components/icons/Postman.astro";
---

<article class="flex flex-col gap-y-8">
  <p class="text-pretty">
    Mi stack tecnol칩gico est치 enfocado en crear productos digitales r치pidos,
    intuitivos y escalables. Me especializo en el <span
      class="text-accent font-semibold">Frontend</span
    >, pero mi formaci칩n <strong>Full Stack</strong> me permite comprender y gestionar
    el flujo completo de los datos desde el servidor hasta la interfaz.
  </p>

  <div class="flex w-full gap-6 justify-center md:justify-evenly flex-wrap">
    <div
      class="flex flex-col items-center w-48 border-2 border-accent bg-accent/10 shadow-lg shadow-accent/20 rounded-lg p-4 gap-y-5"
    >
      <h3 class="text-accent font-semibold text-xl">Frontend</h3>
      <div class="w-full flex flex-wrap items-center gap-4 justify-center">
        <div class="group relative flex justify-center">
          <HtmlIcon
            class="size-10 transition-transform cursor-pointer group-hover:scale-110"
          />
          <span
            class="absolute -top-10 scale-0 rounded bg-dark-200 p-2 text-xs font-bold transition-all group-hover:scale-100 border border-accent/20"
          >
            HTML
          </span>
        </div>
        <div class="group relative flex justify-center">
          <CSSIcon
            class="size-10 transition-transform cursor-pointer group-hover:scale-110"
          />
          <span
            class="absolute -top-10 scale-0 rounded bg-dark-200 p-2 text-xs font-bold transition-all group-hover:scale-100 border border-accent/20"
          >
            CSS
          </span>
        </div>
        <div class="group relative flex justify-center">
          <JavaScriptIcon
            class="size-10 transition-transform cursor-pointer group-hover:scale-110"
          />
          <span
            class="absolute -top-10 scale-0 rounded bg-dark-200 p-2 text-xs font-bold transition-all group-hover:scale-100 border border-accent/20"
          >
            JavaScript
          </span>
        </div>
        <div class="group relative flex justify-center">
          <ReactIcon
            class="size-10 transition-transform cursor-pointer group-hover:scale-110"
          />

          <span
            class="absolute -top-10 scale-0 rounded bg-dark-200 p-2 text-xs font-bold transition-all group-hover:scale-100 border border-accent/20"
          >
            React
          </span>
        </div>
        <div class="group relative flex justify-center">
          <AstroIcon
            class="size-10 transition-transform cursor-pointer group-hover:scale-110"
          />
          <span
            class="absolute -top-10 scale-0 rounded bg-dark-200 p-2 text-xs font-bold transition-all group-hover:scale-100 border border-accent/20"
          >
            Astro
          </span>
        </div>
        <div class="group relative flex justify-center">
          <TailwindIcon
            class="size-10 transition-transform cursor-pointer group-hover:scale-110"
          />
          <span
            class="absolute -top-10 scale-0 rounded bg-dark-200 p-2 text-xs font-bold transition-all group-hover:scale-100 border border-accent/20"
          >
            Tailwind
          </span>
        </div>
      </div>
    </div>

    <div
      class="bg-dark flex flex-col items-center w-48 border border-dark-200 rounded-lg p-4 gap-y-5"
    >
      <h3 class="font-semibold text-xl">Backend & DB</h3>
      <div class="w-full flex flex-wrap items-center gap-4 justify-center">
        <div class="group relative flex justify-center">
          <Image
            src={NodeIcon}
            alt="Node.js"
            class="size-10 transition-transform cursor-pointer group-hover:scale-110"
            loading="lazy"
          />
          <span
            class="absolute -top-10 scale-0 rounded bg-dark-200 p-2 text-xs font-bold transition-all group-hover:scale-100 border border-accent/20"
          >
            Node.js
          </span>
        </div>
        <div class="group relative flex justify-center">
          <ExpressIcon
            class="size-10 transition-transform cursor-pointer group-hover:scale-110"
          />
          <span
            class="absolute -top-10 scale-0 rounded bg-dark-200 p-2 text-xs font-bold transition-all group-hover:scale-100 border border-accent/20"
          >
            Express
          </span>
        </div>
        <div class="group relative flex justify-center">
          <PostgreSQLIcon
            class="size-10 transition-transform cursor-pointer group-hover:scale-110"
          />
          <span
            class="absolute -top-10 scale-0 rounded bg-dark-200 p-2 text-xs font-bold transition-all group-hover:scale-100 border border-accent/20"
          >
            PostgreSQL
          </span>
        </div>
        <div class="group relative flex justify-center">
          <MySQLIcon
            class="size-10 transition-transform cursor-pointer group-hover:scale-110"
          />
          <span
            class="absolute -top-10 scale-0 rounded bg-dark-200 p-2 text-xs font-bold transition-all group-hover:scale-100 border border-accent/20"
          >
            MySQL
          </span>
        </div>
      </div>
    </div>

    <div class="bg-dark flex flex-col items-center w-48 rounded-lg p-4 gap-y-5">
      <h3 class="text-dark-400 font-semibold text-xl">Herramientas</h3>
      <div class="w-full flex flex-wrap items-center gap-4 justify-center">
        <div class="group relative flex justify-center">
          <WordPressIcon
            class="size-10 transition-transform cursor-pointer group-hover:scale-110"
          />
          <span
            class="absolute -top-10 scale-0 rounded bg-dark-200 p-2 text-xs font-bold transition-all group-hover:scale-100 border border-accent/20"
          >
            WordPress
          </span>
        </div>
        <div class="group relative flex justify-center">
          <GitIcon
            class="size-10 transition-transform cursor-pointer group-hover:scale-110"
          />
          <span
            class="absolute -top-10 scale-0 rounded bg-dark-200 p-2 text-xs font-bold transition-all group-hover:scale-100 border border-accent/20"
          >
            Git
          </span>
        </div>
        <div class="group relative flex justify-center">
          <GitHubIcon
            class="size-10 transition-transform cursor-pointer group-hover:scale-110"
          />
          <span
            class="absolute -top-10 scale-0 rounded bg-dark-200 p-2 text-xs font-bold transition-all group-hover:scale-100 border border-accent/20"
          >
            GitHub
          </span>
        </div>
        <div class="group relative flex justify-center">
          <NPMIcon
            class="size-10 transition-transform cursor-pointer group-hover:scale-110"
          />
          <span
            class="absolute -top-10 scale-0 rounded bg-dark-200 p-2 text-xs font-bold transition-all group-hover:scale-100 border border-accent/20"
          >
            NPM
          </span>
        </div>
        <div class="group relative flex justify-center">
          <PostmanIcon
            class="size-10 transition-transform cursor-pointer group-hover:scale-110"
          />
          <span
            class="absolute -top-10 scale-0 rounded bg-dark-200 p-2 text-xs font-bold transition-all group-hover:scale-100 border border-accent/20"
          >
            Postman
          </span>
        </div>
      </div>
    </div>
  </div>
</article>
