---
import Header from '../components/Header.astro';
import './src/styles/global.css';
import '@fontsource-variable/inter';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <title>Portafolio</title>
  </head>
  <body class="bg-dark">
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
  }
  html {
    font-family: 'Inter Variable', sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
</style>
